In [1]:
import pandas as pd

In [6]:
GDP = pd.read_csv("data/economic_indicators/GDP")
FEDFUNDS = pd.read_csv("data/economic_indicators/FEDFUNDS")
CPIAUCSL = pd.read_csv("data/economic_indicators/CPIAUCSL")
UNRATE = pd.read_csv("data/economic_indicators/UNRATE")
GS10 = pd.read_csv("data/economic_indicators/GS10")
INDPRO = pd.read_csv("data/economic_indicators/INDPRO")
PPIACO = pd.read_csv("data/economic_indicators/PPIACO")
RSXFS = pd.read_csv("data/economic_indicators/RSXFS")
HOUST = pd.read_csv("data/economic_indicators/HOUST")
PSAVERT = pd.read_csv("data/economic_indicators/PSAVERT")

In [7]:
indicators = [
            GDP, CPIAUCSL, UNRATE, FEDFUNDS, GS10,
        INDPRO, PPIACO, RSXFS, HOUST, PSAVERT
    ]
for ind in indicators:
    print(ind.shape)

(309, 2)
(928, 2)
(916, 2)
(838, 2)
(853, 2)
(1264, 2)
(1336, 2)
(388, 2)
(784, 2)
(783, 2)

In [8]:
for ind in indicators:
    ind.columns = ['Date', ind.columns[1]]

# Merging based on the 'Date' column
merged_df = GDP
for ind in indicators[1:]:
    merged_df = pd.merge(merged_df, ind, on='Date', how='outer')

# Check the shape of the merged DataFrame
print(merged_df.shape)

(1336, 11)

In [11]:
merged_df.dropna(inplace=True)

In [12]:
merged_df.shape

(129, 11)

In [13]:
merged_df.to_csv("./data/indicators.csv")

In [5]:
from data_collection.collect_num_data import get_economic_indicators, get_historical_prices, get_dividends_and_earnings

In [6]:
portfolio_csv = "portfolio_files/Apr-2025 portfolio.csv"
portfolio_df = pd.read_csv(portfolio_csv)
portfolio_symbols = portfolio_df["Symbol"]

In [7]:
import matplotlib.pyplot as plt

In [8]:
for symbol in portfolio_symbols:
    hist_data = get_historical_prices(symbol)
    try:
        hist_data.index = pd.to_datetime(hist_data.index)
        hist_data.index = hist_data.index.strftime('%Y-%m-%d')
    except Exception as e:
        print(e)
    hist_data.to_csv(f"./data/historical/{symbol}.csv")

In [9]:
tmp = get_historical_prices("GOOG")
tmp.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [2]:
indicators_df = pd.read_csv("data/indicators.csv")

In [3]:
indicators_df

,Unnamed: 0,Date,GDP,CPIAUCSL,UNRATE,FEDFUNDS,GS10,INDPRO,PPIACO,RSXFS,HOUST,PSAVERT
0,948,1992-01-01,6363.102,138.300,7.3,4.03,7.03,61.4898,115.600,146925.0,1176.0,9.5
1,951,1992-04-01,6470.763,139.400,7.4,3.73,7.48,62.9312,116.300,148032.0,1099.0,9.8
2,954,1992-07-01,6566.641,140.500,7.7,3.25,6.84,63.7408,117.900,150761.0,1139.0,9.5
3,957,1992-10-01,6680.803,141.700,7.3,3.10,6.59,64.0282,118.100,153521.0,1244.0,7.9
4,960,1993-01-01,6729.459,142.800,7.3,3.02,6.60,64.6256,118.000,157555.0,1210.0,8.5
...,...,...,...,...,...,...,...,...,...,...,...,...
124,1320,2023-01-01,26813.601,300.356,3.4,4.33,3.53,102.5478,260.227,603496.0,1361.0,4.4
125,1323,2023-04-01,27063.012,303.032,3.4,4.83,3.46,103.1512,256.908,595397.0,1368.0,5.2
126,1326,2023-07-01,27610.128,304.628,3.5,5.12,3.90,103.1900,253.835,599037.0,1473.0,4.4
127,1329,2023-10-01,27956.998,307.531,3.8,5.33,4.80,102.5683,255.192,606596.0,1365.0,4.0
128,1332,2024-01-01,28284.498,309.685,3.7,5.33,4.06,101.7987,251.245,601921.0,1376.0,4.1

In [4]:
goog_df =  pd.read_csv("data/historical/GOOG.csv")
jpm_df =  pd.read_csv("data/historical/JPM.csv")
msft_df =  pd.read_csv("data/historical/MSFT.csv")
nvda_df =  pd.read_csv("data/historical/NVDA.csv")
voo_df =  pd.read_csv("data/historical/VOO.csv")

In [5]:
dataframes = {
    'GOOG': goog_df,
    'JPM': jpm_df,
    'MSFT':msft_df,
    'NVDA': nvda_df,
    'VOO':voo_df
}

In [6]:
combined_df = pd.concat([df.set_index('Date') for df in dataframes.values()], axis=1, keys=dataframes.keys())
combined_df.reset_index(inplace=True)

In [7]:
combined_df

             Date      GOOG                                             \
                       Open      High       Low     Close       Volume
0      2004-08-19  2.490664  2.591785  2.390042  2.499133  897427216.0
1      2004-08-20  2.515820  2.716817  2.503118  2.697639  458857488.0
2      2004-08-23  2.758411  2.826406  2.716070  2.724787  366857939.0
3      2004-08-24  2.770615  2.779581  2.579581  2.611960  306396159.0
4      2004-08-25  2.614201  2.689918  2.587302  2.640104  184645512.0
...           ...       ...       ...       ...       ...          ...
11140  2004-08-12       NaN       NaN       NaN       NaN          NaN
11141  2004-08-13       NaN       NaN       NaN       NaN          NaN
11142  2004-08-16       NaN       NaN       NaN       NaN          NaN
11143  2004-08-17       NaN       NaN       NaN       NaN          NaN
11144  2004-08-18       NaN       NaN       NaN       NaN          NaN

             JPM                                   ...      NVDA            \
            Open       High        Low      Close  ...      Open      High
0      22.429205  22.429205  22.154107  22.241905  ...  0.889019  0.905072
1      22.224353  22.710162  22.195085  22.622366  ...  0.886726  0.957052
2      22.680898  22.756990  22.517011  22.563835  ...  0.959345  0.974633
3      22.680896  22.739426  22.440918  22.587246  ...  0.978456  0.983043
4      22.593095  23.195970  22.593095  23.084759  ...  0.949408  0.975398
...          ...        ...        ...        ...  ...       ...       ...
11140  21.598071  21.644894  21.510273  21.574657  ...  0.791173  0.793466
11141  21.551248  21.615633  21.363948  21.580513  ...  0.788880  0.807990
11142  21.627329  22.124845  21.615623  22.089727  ...  0.793466  0.814870
11143  22.212644  22.388237  22.159966  22.200937  ...  0.812577  0.843154
11144  22.183395  22.458491  22.142423  22.429226  ...  0.842389  0.894370

                                        VOO
            Low     Close       Volume Open High Low Close Volume
0      0.877553  0.891312   72440400.0  NaN  NaN NaN   NaN    NaN
1      0.883667  0.944057  119904000.0  NaN  NaN NaN   NaN    NaN
2      0.953994  0.964696   80002800.0  NaN  NaN NaN   NaN    NaN
3      0.910423  0.928769   93942000.0  NaN  NaN NaN   NaN    NaN
4      0.931826  0.968518   72130800.0  NaN  NaN NaN   NaN    NaN
...         ...       ...          ...  ...  ...  ..   ...    ...
11140  0.769005  0.770534   65438400.0  NaN  NaN NaN   NaN    NaN
11141  0.782000  0.802640   81570000.0  NaN  NaN NaN   NaN    NaN
11142  0.788880  0.794995   53173200.0  NaN  NaN NaN   NaN    NaN
11143  0.804933  0.838567   74491200.0  NaN  NaN NaN   NaN    NaN
11144  0.835509  0.894370   87242400.0  NaN  NaN NaN   NaN    NaN

[11145 rows x 26 columns]

In [8]:
indicators_df['Date'] = pd.to_datetime(indicators_df['Date'])
combined_df['Date'] = pd.to_datetime(combined_df['Date'])

In [9]:
# Flatten MultiIndex columns
combined_df.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in combined_df.columns]

# Ensure 'Date' column is correctly named
if 'Date_' in combined_df.columns:
    combined_df.rename(columns={'Date_': 'Date'}, inplace=True)

In [10]:
full_df = pd.merge(combined_df, indicators_df, on='Date', how='left')

In [11]:
full_df

,Date,GOOG_Open,GOOG_High,GOOG_Low,GOOG_Close,GOOG_Volume,JPM_Open,JPM_High,JPM_Low,JPM_Close,...,GDP,CPIAUCSL,UNRATE,FEDFUNDS,GS10,INDPRO,PPIACO,RSXFS,HOUST,PSAVERT
0,2004-08-19,2.490664,2.591785,2.390042,2.499133,897427216.0,22.429205,22.429205,22.154107,22.241905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004-08-20,2.515820,2.716817,2.503118,2.697639,458857488.0,22.224353,22.710162,22.195085,22.622366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004-08-23,2.758411,2.826406,2.716070,2.724787,366857939.0,22.680898,22.756990,22.517011,22.563835,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004-08-24,2.770615,2.779581,2.579581,2.611960,306396159.0,22.680896,22.739426,22.440918,22.587246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004-08-25,2.614201,2.689918,2.587302,2.640104,184645512.0,22.593095,23.195970,22.593095,23.084759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11140,2004-08-12,NaN,NaN,NaN,NaN,NaN,21.598071,21.644894,21.510273,21.574657,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11141,2004-08-13,NaN,NaN,NaN,NaN,NaN,21.551248,21.615633,21.363948,21.580513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11142,2004-08-16,NaN,NaN,NaN,NaN,NaN,21.627329,22.124845,21.615623,22.089727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11143,2004-08-17,NaN,NaN,NaN,NaN,NaN,22.212644,22.388237,22.159966,22.200937,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11144,2004-08-18,NaN,NaN,NaN,NaN,NaN,22.183395,22.458491,22.142423,22.429226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)

In [13]:
full_df_imputed = full_df.copy()
full_df_imputed.iloc[:, 1:] = imputer.fit_transform(full_df_imputed.iloc[:, 1:])

In [14]:
full_df_imputed

,Date,GOOG_Open,GOOG_High,GOOG_Low,GOOG_Close,GOOG_Volume,JPM_Open,JPM_High,JPM_Low,JPM_Close,...,GDP,CPIAUCSL,UNRATE,FEDFUNDS,GS10,INDPRO,PPIACO,RSXFS,HOUST,PSAVERT
0,2004-08-19,2.490664,2.591785,2.390042,2.499133,897427216.0,22.429205,22.429205,22.154107,22.241905,...,7502.7374,149.60,6.36,4.056,6.218,70.67188,121.60,175999.0,1389.0,7.34
1,2004-08-20,2.515820,2.716817,2.503118,2.697639,458857488.0,22.224353,22.710162,22.195085,22.622366,...,7502.7374,149.60,6.36,4.056,6.218,70.67188,121.60,175999.0,1389.0,7.34
2,2004-08-23,2.758411,2.826406,2.716070,2.724787,366857939.0,22.680898,22.756990,22.517011,22.563835,...,7742.8652,152.28,5.98,4.462,6.238,72.77582,123.46,184002.0,1411.8,6.92
3,2004-08-24,2.770615,2.779581,2.579581,2.611960,306396159.0,22.680896,22.739426,22.440918,22.587246,...,7472.4578,149.40,6.32,4.038,6.254,70.72818,121.60,175757.4,1357.4,7.40
4,2004-08-25,2.614201,2.689918,2.587302,2.640104,184645512.0,22.593095,23.195970,22.593095,23.084759,...,8312.6666,157.32,5.30,5.004,6.078,77.61714,125.36,197787.2,1476.2,6.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11140,2004-08-12,9.266168,9.378198,9.189854,9.302831,315737442.0,21.598071,21.644894,21.510273,21.574657,...,7502.7374,149.60,6.36,4.056,6.218,70.67188,121.60,175999.0,1389.0,7.34
11141,2004-08-13,8.037623,8.184622,7.994983,8.109005,312736636.2,21.551248,21.615633,21.363948,21.580513,...,7472.4578,149.40,6.32,4.038,6.254,70.72818,121.60,175757.4,1357.4,7.40
11142,2004-08-16,10.079370,10.171425,9.895708,9.976107,311270361.0,21.627329,22.124845,21.615623,22.089727,...,8948.9382,162.56,5.40,4.176,5.496,80.62768,127.12,211989.2,1510.4,6.16
11143,2004-08-17,8.015705,8.096054,7.940836,8.021135,326838898.0,22.212644,22.388237,22.159966,22.200937,...,8545.1832,158.70,5.10,4.938,5.610,79.86140,124.56,202446.4,1524.8,6.34
11144,2004-08-18,8.082156,8.160164,7.952243,8.040911,549010943.2,22.183395,22.458491,22.142423,22.429226,...,9075.4106,163.04,5.40,4.032,5.376,81.29254,127.44,214431.0,1578.6,6.02

In [17]:
full_df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11145 entries, 0 to 11144
Data columns (total 37 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         11145 non-null  datetime64[ns]
 1   GOOG_Open    11145 non-null  float64
 2   GOOG_High    11145 non-null  float64
 3   GOOG_Low     11145 non-null  float64
 4   GOOG_Close   11145 non-null  float64
 5   GOOG_Volume  11145 non-null  float64
 6   JPM_Open     11145 non-null  float64
 7   JPM_High     11145 non-null  float64
 8   JPM_Low      11145 non-null  float64
 9   JPM_Close    11145 non-null  float64
 10  JPM_Volume   11145 non-null  int64
 11  MSFT_Open    11145 non-null  float64
 12  MSFT_High    11145 non-null  float64
 13  MSFT_Low     11145 non-null  float64
 14  MSFT_Close   11145 non-null  float64
 15  MSFT_Volume  11145 non-null  float64
 16  NVDA_Open    11145 non-null  float64
 17  NVDA_High    11145 non-null  float64
 18  NVDA_Low     11145 non-null  float64
 19  NVDA_Close   11145 non-null  float64
 20  NVDA_Volume  11145 non-null  float64
 21  VOO_Open     11145 non-null  float64
 22  VOO_High     11145 non-null  float64
 23  VOO_Low      11145 non-null  float64
 24  VOO_Close    11145 non-null  float64
 25  VOO_Volume   11145 non-null  float64
 26  Unnamed: 0   11145 non-null  float64
 27  GDP          11145 non-null  float64
 28  CPIAUCSL     11145 non-null  float64
 29  UNRATE       11145 non-null  float64
 30  FEDFUNDS     11145 non-null  float64
 31  GS10         11145 non-null  float64
 32  INDPRO       11145 non-null  float64
 33  PPIACO       11145 non-null  float64
 34  RSXFS        11145 non-null  float64
 35  HOUST        11145 non-null  float64
 36  PSAVERT      11145 non-null  float64
dtypes: datetime64[ns](1), float64(35), int64(1)
memory usage: 3.1 MB

In [27]:
from sklearn.preprocessing import StandardScaler

# Select relevant features (excluding 'Date')
features = full_df_imputed.columns.difference(['Date'])
X = full_df_imputed[features]

# Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Create a DataFrame with scaled features
X_scaled_df = pd.DataFrame(X_scaled, columns=features)

In [41]:
import numpy as np

def create_sequences(X, y, time_steps=60):
    Xs, ys = [], []
    for i in range(len(X) - time_steps):
        Xs.append(X.iloc[i:(i + time_steps)].values)
        ys.append(y.iloc[i + time_steps].values)
    return np.array(Xs), np.array(ys)

time_steps = 60
closing_prices = full_df_imputed[[col for col in full_df_imputed.columns if 'Close' in col]]
X_sequences, y_sequences = create_sequences(X_scaled_df, closing_prices, time_steps)

# Split into training and testing sets
train_size = int(len(X_sequences) * 0.8)
X_train, X_test = X_sequences[:train_size], X_sequences[train_size:]
y_train, y_test = y_sequences[:train_size], y_sequences[train_size:]

In [42]:
X_train.shape

(8868, 60, 36)

In [43]:
y_train.shape

(8868, 5)

In [44]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(time_steps, X_train.shape[2])))
model.add(LSTM(50, return_sequences=False))
model.add(Dropout(0.2))
model.add(Dense(25))
model.add(Dense(y_train.shape[1]))  # Output layer for multiple features (closing prices of all tickers)

E:\Personal\Risk_management_model\.venv\Lib\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

In [45]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [46]:
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.1)

Epoch 1/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 21ms/step - loss: 15428.0635 - val_loss: 5356.6655
Epoch 2/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 22ms/step - loss: 6457.2900 - val_loss: 3824.7622
Epoch 3/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 24ms/step - loss: 4373.1182 - val_loss: 3077.4495
Epoch 4/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 22ms/step - loss: 2895.7319 - val_loss: 1871.8192
Epoch 5/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 22ms/step - loss: 2260.6367 - val_loss: 1414.3041
Epoch 6/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 22ms/step - loss: 1757.3263 - val_loss: 1352.1914
Epoch 7/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 24ms/step - loss: 1377.3611 - val_loss: 1295.5582
Epoch 8/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 24ms/step - loss: 1212.2306 - val_loss: 1256.3359
Epoch 9/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 21ms/step - loss: 1169.0806 - val_loss: 1272.6152
Epoch 10/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 21ms/step - loss: 1064.1920 - val_loss: 1319.8784

In [47]:
model.evaluate(X_test, y_test)

70/70 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 1607.1604

2190.14453125

In [48]:
predictions = model.predict(X_test)
returns = pd.DataFrame(predictions - y_test, columns=closing_prices.columns)  # Calculate returns from predictions

def calculate_var(returns, confidence_level=0.95):
    sorted_returns = np.sort(returns, axis=0)
    index = int((1 - confidence_level) * sorted_returns.shape[0])
    return sorted_returns[index]

def calculate_cvar(returns, var):
    return np.mean(returns[returns <= var], axis=0)

var_95 = calculate_var(returns, 0.95)
cvar_95 = calculate_cvar(returns, var_95)

print(f"Value at Risk (95%): {var_95}")
print(f"Conditional Value at Risk (95%): {cvar_95}")

70/70 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step
Value at Risk (95%): [ -31.19716563  -32.22780418  -49.56879044  -47.06499362 -197.95496368]
Conditional Value at Risk (95%): GOOG_Close    -55.416149
JPM_Close     -37.271633
MSFT_Close    -60.019888
NVDA_Close    -83.835048
VOO_Close    -265.614849
dtype: float64